.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-green {
  color: green;
}

.text-red {
  color: red;
}

.text-blue {
  color: blue;
}

.text-yellow {
  color: yellow;
}

.text-purple {
  color: purple;
}

.text-orange {
  color: orange;
}