.navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #000;
  padding: 10px 0;
  z-index: 1;
}

.navigation a {
  color: #fff;
  text-decoration: none;
}

.navigation a:hover {
  color: #ddd;
}

#display {
  padding-top: 38px;
}

/* One-Page links Chaltūra 3000 */

.link-compense {
  margin-top: -38px;
  padding-top: 38px;
}